<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi porfolio</title>
</head>
<body>
  <header style="background-color:grey ; height: 50px;">
    
  <img  src="./assets/logoargentinaprograma.png" alt="logo" width="100%" height="100%"><!-- logo -->
      <p>
        <!-- Nombre del progrma -->
      </p>
    
    <nav>
      <ul>
<img src="" alt="">
      </ul>
      <ul>
        
      </ul>
      <ul>
        
      </ul>
    </nav>
    <div>
      <!-- redes -->
    </div>
    <div>
      <!-- Login -->
    </div>
  </header>
  <body>
    <div>
      <p>Acerca de</p>
          </div>
    <div>
      <p>Experiencia</p>
    </div>
    <div>
      <p>Educación</p>
    </div>
    <div>
      <p>Hard & Soft Skills</p>
    </div>
    <div>
      <p>Proyectos</p>
    </div>
  </body>
  
</body>
</html>